/target/
FileSharingSystem.iml
.idea/
src/test/
g
/peer_8400/
/peer_6100/
/peer_7100/
/peer_3000/
/peer_8100/
/peer*
/output/
*.file
sharedFolder*
!/PeerDownloads/Master/
!/PeerDownloads/Master/files.metadata.json
!/PeerDownloads/
!/PeerDownloads/Master/mountain.jpg
!/PeerDownloads/Cache/stars.jpg
!/PeerDownloads/Cache/
!/PeerDownloads/Cache/files.metadata.json
PeerDownloads/
