/target/
FileSharingSystem.iml
.idea/
src/test/
g
/peer_8400/
/peer_6100/
/peer_7100/
/peer_3000/
/peer_8100/
/peer*
/output/
*.file
sharedFolder*
PeerServerFilesRoot/cache/test*
PeerServerFilesRoot/master/test*
